.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .inputs label {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .inputs input[type="text"] {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 2px solid #ccc;
    width: 90%;
  }
  
  .inputs button[type="submit"] {
    padding: 10px 20px;
    background-color: #27ae60;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: 90%;

  }
  
  .inputs button[type="submit"]:hover {
    background-color: #2ecc71;
    width: 90%;

  }

  .resultadoContainer{
    width: 90%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  .resultado{
    width: 90%;
  }


